@import "tailwindcss";

:root {
  --background: #F8FAFC; /* Abu-abu sangat muda */
/* Tulisan abu-abu tua */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}